body {
    background-image: url("/images/background/windows-vista-1920x1080-aurora-microsoft-5k-23361.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    }
    .nav-link {
    border: 2px solid blue;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    background-color: lightskyblue;
    }