body {
    background-image: url("/images/background/windows-vista-1920x1080-aurora-microsoft-5k-23361.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
  }